{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type"
		content="width=device-width" charset="utf-8">	
	<link rel="stylesheet" type="text/css" href="{% static 'news/style.css' %}">	
	<title>{% block title %}Physicalgram V3.0{% endblock %}</title>
</head>
<body>
	<header>
		<a href="{% url 'news:index' %} " class="link"><strong>P</strong>hysical <strong>E</strong>lectronics <strong>G</strong>ram</a>
	</header>
		<div class="content">
			<nav class="nav">
				{% if user.is_authenticated %}
				<a href="{% url 'news:profile' %}">
					{% if user.avatar %}
		      			<img class="avatar" src="{{ user.avatar.url }}">
		    		{% else %}
		      			<img class="avatar" src="\static\news\user.png">
		    		{% endif %}
		    	</a>
				<a href="{% url 'news:index' %}" class="link">News</a>
				<a href="{% url 'news:good' %}" class="link">Useful links</a>
				<a href="{% url 'news:about' %}" class="link">About</a>
				<a href="{% url 'news:logout' %}" class="link">Logout</a>
				{% else %}
				<a href="{% url 'news:login' %}" class="link">Login</a>
				<a href="{% url 'news:register' %}" class="link">Registration</a>
				{% endif %}
			</nav>
			<section>
				{% block content %}
				{% endblock %}
			</section>
			<div class="test">test area</div>
		</div>
</body>
</html>