{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type"
		content="text/html; charset=utf-8">	
	<link rel="stylesheet" type="text/css" href="{% static 'news/style.css' %}">	
	<title>{% block title %}Physicalgram V2{% endblock %}</title>
</head>
<body>
	<header>
		<a href="{% url 'news:index' %} ">Physicalgram V2</a>
	</header>
	<nav class="nav_right">
		{% if user.is_authenticated %}
		<a href="{% url 'news:profile' %}">
			{% if user.avatar %}
      			<img class="avatar" src="{{ user.avatar.url }}">
    		{% else %}
      			<img class="avatar" src="\static\news\user.png">
    		{% endif %}
    	</a>
		<a href="{% url 'news:index' %}">News</a>
		<a href="{% url 'news:good' %}">Useful links</a>
		<a href="{% url 'news:about' %}">About</a>
		<a href="{% url 'news:logout' %}">Logout</a>
		{% else %}
		<a href="{% url 'news:login' %}">Login</a>
		<a href="{% url 'news:register' %}">Registration</a>
		{% endif %}
	</nav>
	<section class="post">
		{% block content %}
		{% endblock %}
	</section>
	<footer>
		
	</footer>
</body>
</html>