{% extends "layout/basic.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="about">
	<img src="/static/news/KqI-HY-RFyg.JPG" width="300px" float='left'>
		Hello! My full name is Novogencev Pavel. I’m from Belarus, Gomel. I’m in my late teens. Currently I’m a student at F. Skorina Gomel State University. I’m studying to get a BSc in physics with a focus on radioelectronics. I chose this department because I like math and physics. I spend most of my time developing my skills in physics, programming and higher mathematics in order to become a highly-qualified specialist in this field. I’m looking for a job in IT company or anything related to that. I’m Adaptive and open to changes, motivated to learn more and to succeed, creative, hard-working, punctual, ambitious, well-organized, multitasking, a good team-player, planner. In the near future I want to graduate with good grades, get a well-paid job in a profitable company. As I have a multi-skilled specialty, I’m sure that my skills can be applied in various fields.<br>
		Contacts<br>
		<div class='soc-a'>
			<a href="https://vk.com/novogencev"><img src="/static/news/vk.png" class="soc"></a>
			<a href="https://www.instagram.com/novogencev/?hl=ru"><img  src="/static/news/insta.png" class="soc"></a>
			<a href="https://discordapp.com/users/524191442965495841/"><img src="/static/news/Discord-Logo-Color.png" class="soc"></a>
			<a href="https://www.linkedin.com/in/pavel-novozhentsev-bb8227220/"><img  src="/static/news/LI-In-Bug.png" class="soc"></a>
			<a href="https://t.me/joscraw"><img  src="/static/news/Logo.png" class="soc"></a>
		</div>
</div>
{% endblock %}