{% extends "layout/basic.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div>
	<h2>User Profile {{user.username }}
	{% if user.avatar %}
      <img class="avatar" src="{{ user.avatar.url }}"><br><br>
    {% else %}
      <img src="\static\news\user.png"><br><br>
    {% endif %}
	</h2>
	<h3>Hello, {{user.first_name}} {{user.last_name}}</h3>
	<a href="{% url 'news:add' %}">Add post</a>
	<a href="{% url 'news:profile_change' %}">Edit info</a>
	<a href="{% url 'news:password_change' %}">Edit password</a>
	<a href="{% url 'news:profile_delete' %}">Delete</a>
	<h2>Your post</h2>
</div>
<div>
	{% for post in posts %}
	<div class="post">
		<div class="post-author">
			<div class="post-author-a">
				{% if post.author.avatar %}
			      <img class="avatar-small" src="{{ post.author.avatar.url }}">
			    {% else %}
			      <img class="avatar-small" src="\static\news\user.png">
			    {% endif %}
			    <div>
					{{ post.author }}<br>
					{{ post.pubdate|date:"d M Y H:i" }}
				</div>
			</div>
			<div class="post-author-b">
				<a href="{% url 'news:detail' pk=post.pk %}" class="link">⋮</a>
			</div>
		</div>
		<div class="post-content">
			{{ post.content}}<br>
			{% if post.image %}
				<img src="{{ post.image.url }}" class="media">
			{% endif %}
			{% if post.video %}
				<video src="{{ post.video.url }}" class="media" controls="controls"></video><br>
			{% endif %}
			{% if post.audio %}
				<audio src="{{ post.audio.url }}" controls="controls"></audio><br>
			{% endif %}
			{% if post.file %}
				<a href='{{ post.file.url }}' target="-blank" class="file">{{post.filename}}</a><br>
			{% endif %}
			<a href="{% url 'news:edit_post' pk=post.pk %}" >Edit</a>
			<a href="{% url 'news:delete_post' pk=post.pk %}">Delete</a>
		</div>
	</div>
{% endfor %}       
</div>
{% endblock %}
