{% extends "layout/basic.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="login">
	<h2>User Profile {{user.username }}</h2>
	<h3>Hello, {{user.first_name}} {{user.last_name}}</h3>
	<a href="{% url 'news:add' %}"class="sbtn">Add post</a>
	<a href="{% url 'news:profile_change' %}"class="sbtn">Edit info</a>
	<a href="{% url 'news:password_change' %}"class="sbtn">Edit password</a>
	<a href="{% url 'news:profile_delete' %}"class="sbtn">Delete</a>
	<h2>Your post</h2>
	{% for post in posts %}
		<p class="p">
		<a class="small">
		<a href="{% url 'news:detail' pk=post.pk %}" class="sbtn">
		{{ post.author }} {{ post.pubdate|date:"d M Y H:i" }}<br>
		{{ post.content}}</a><br>
		<a href="{% url 'news:edit_post' pk=post.pk %}" class="sbtn">Edit</a>
		<a href="{% url 'news:delete_post' pk=post.pk %}" class="sbtn">Delete</a></a>
	   	</p>
	{% endfor %}        
</div>
{% endblock %}